In [103]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

import yfinance as yf

In [94]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
def get_prices(ticker: str, start_date: str, end_date: str = None, interval: str = '1d') -> pd.DataFrame:
    """ 
    Get historical prices for a given ticker.

    Parameters:
        - ticker (str): The ticker symbol of the stock.
        - start (str): The start date of the historical prices.
        - end_str (str): (default=None) The end date of the historical prices.
        - interval (str): (default='1d') The interval of the historical prices.
    """

    price_df_list = []

    if end_date is None:
        end_date = pd.Timestamp.now().strftime('%Y-%m-%d')

    start_year = int(start_date.split('-')[0])
    end_year = int(end_date.split('-')[0])

    # get prices for each year and concat to get the full price_df
    for year in range(start_year, end_year + 1):
        if year == start_year:
            price_df = yf.Ticker(ticker).history(
                interval=interval, start=start_date, end=f'{year}-12-31')
        elif year == end_year:
            price_df = yf.Ticker(ticker).history(
                interval=interval, start=f'{year}-01-01', end=end_date)
        else:
            price_df = yf.Ticker(ticker).history(
                interval=interval, start=f'{year}-01-01', end=f'{year}-12-31')

        price_df_list.append(price_df)

    price_df = pd.concat(price_df_list)

    return price_df

In [54]:
def get_return(price_df: pd.DataFrame, interval: str = 'M') -> pd.DataFrame:
    """ 
    Get return of stock on a monthly basis (last close price/last close price previous period - 1)

        - pride_df: pd.DataFrame
        - interval: str (default='M')
    """
    assert interval in ['M', 'Q', 'Y'], 'interval must be M, Q or Y'

    # find the last close price of each period
    last_close_price = price_df.resample(interval).last()

    # calculate the return
    return_series = last_close_price['Close'].pct_change()

    # turn into a dataframe
    return_series = return_series.to_frame()

    return_series.columns = [f'{interval}_Return']
    # set index to month
    return_series.index = return_series.index.strftime('%Y-%m')

    return return_series

In [46]:
my_portfolio_tickers = ['AGL', 'CSL', 'IEL', 'NVX', 'TWE', 'TYR', 'SPY']

historical_prices = {}

for ticker in my_portfolio_tickers:
    historical_prices[ticker] = get_prices(f'{ticker}.AX', '2013-12-01')

$IEL.AX: possibly delisted; no price data found  (1d 2013-12-01 -> 2013-12-31) (Yahoo error = "Data doesn't exist for startDate = 1385816400, endDate = 1388408400")
$IEL.AX: possibly delisted; no price data found  (1d 2014-01-01 -> 2014-12-31) (Yahoo error = "Data doesn't exist for startDate = 1388494800, endDate = 1419944400")
$NVX.AX: possibly delisted; no price data found  (1d 2013-12-01 -> 2013-12-31) (Yahoo error = "Data doesn't exist for startDate = 1385816400, endDate = 1388408400")
$NVX.AX: possibly delisted; no price data found  (1d 2014-01-01 -> 2014-12-31) (Yahoo error = "Data doesn't exist for startDate = 1388494800, endDate = 1419944400")
$TYR.AX: possibly delisted; no price data found  (1d 2013-12-01 -> 2013-12-31) (Yahoo error = "Data doesn't exist for startDate = 1385816400, endDate = 1388408400")
$TYR.AX: possibly delisted; no price data found  (1d 2014-01-01 -> 2014-12-31) (Yahoo error = "Data doesn't exist for startDate = 1388494800, endDate = 1419944400")
$TYR.AX: possibly delisted; no price data found  (1d 2015-01-01 -> 2015-12-31) (Yahoo error = "Data doesn't exist for startDate = 1420030800, endDate = 1451480400")
$TYR.AX: possibly delisted; no price data found  (1d 2016-01-01 -> 2016-12-31) (Yahoo error = "Data doesn't exist for startDate = 1451566800, endDate = 1483102800")
$TYR.AX: possibly delisted; no price data found  (1d 2017-01-01 -> 2017-12-31) (Yahoo error = "Data doesn't exist for startDate = 1483189200, endDate = 1514638800")
$TYR.AX: possibly delisted; no price data found  (1d 2018-01-01 -> 2018-12-31) (Yahoo error = "Data doesn't exist for startDate = 1514725200, endDate = 1546174800")
$SPY.AX: possibly delisted; no price data found  (1d 2013-12-01 -> 2013-12-31) (Yahoo error = "Data doesn't exist for startDate = 1385816400, endDate = 1388408400")

In [117]:
def get_stats(returns_df_dict: str, ticker: str, start_period: str, end_year: str):

    period_of_interest_return_df = returns_df_dict[ticker].loc[start_period:end_year]

    stats_dict = {}

    # mean, std, n
    stats_dict['mean'] = np.round(
        period_of_interest_return_df.mean().values[0], 4)
    stats_dict['std'] = np.round(
        period_of_interest_return_df.std().values[0], 4)
    stats_dict['n'] = period_of_interest_return_df.shape[0]

    # sharpe
    mode = returns_df_dict[ticker].columns[0].split('_')[0]
    sharpe_multiplier = 4 if mode == 'Q' else 12 if mode == 'M' else 1
    stats_dict['sharpe'] = np.round(np.sqrt(
        sharpe_multiplier) * stats_dict['mean'] / stats_dict['std'], 2)

    # beta
    X = returns_df_dict['SPY'].loc[start_period:end_year][f'{mode}_Return']
    X = sm.add_constant(X)
    y = returns_df_dict[ticker].loc[start_period:end_year][f'{mode}_Return']
    linreg = sm.OLS(y, X).fit()
    stats_dict['beta'] = np.round(linreg.params[f'{mode}_Return'], 2)
    stats_dict['alpha'] = np.round(linreg.params['const'], 2)

    return stats_dict

In [118]:
returns_df_dict = {}
for ticker, price_df in historical_prices.items():
    returns_df_dict[ticker] = get_return(price_df)

In [128]:
for ticker in my_portfolio_tickers:
    print(ticker, ':', get_stats(
        returns_df_dict, ticker, '2021-06', '2024-06'))

AGL : {'mean': 0.0156, 'std': 0.0898, 'n': 37, 'sharpe': 0.6, 'beta': -0.44, 'alpha': 0.02}
CSL : {'mean': 0.0028, 'std': 0.053, 'n': 37, 'sharpe': 0.18, 'beta': 0.57, 'alpha': -0.0}
IEL : {'mean': -0.0043, 'std': 0.1049, 'n': 37, 'sharpe': -0.14, 'beta': 1.0, 'alpha': -0.02}
NVX : {'mean': 0.003, 'std': 0.2805, 'n': 37, 'sharpe': 0.04, 'beta': 4.26, 'alpha': -0.05}
TWE : {'mean': 0.0065, 'std': 0.0682, 'n': 37, 'sharpe': 0.33, 'beta': 0.28, 'alpha': 0.0}
TYR : {'mean': -0.015, 'std': 0.2011, 'n': 37, 'sharpe': -0.26, 'beta': 2.27, 'alpha': -0.05}
SPY : {'mean': 0.0132, 'std': 0.0388, 'n': 37, 'sharpe': 1.18, 'beta': 1.0, 'alpha': 0.0}

In [89]:
def historical_corr(returns_df_dict: dict, start_period: str, end_year: str):
    """
    Get the historical correlation between two stocks.

    Parameters:
        - historical_returns: dict
        - start_period: str
        - end_year: str
    """

    period_of_interest_return_df = pd.DataFrame()

    for ticker, returns_df in returns_df_dict.items():
        returns_df = returns_df.loc[start_period:end_year]
        returns_df.rename(
            columns={returns_df.columns[0]: ticker}, inplace=True)

        period_of_interest_return_df = pd.merge(
            period_of_interest_return_df, returns_df, left_index=True, right_index=True, how='outer')

    # calculate correlation: corr() function from pandas
    correlation_df = period_of_interest_return_df.corr() # TODO

    return correlation_df, period_of_interest_return_df

In [126]:
correlation_df, period_of_interest_return_df = historical_corr(
    returns_df_dict, '2015-01', '2023-12')
correlation_df

          AGL       CSL       IEL       NVX       TWE       TYR       SPY
AGL  1.000000  0.048722 -0.077654 -0.116394  0.028229 -0.165138  0.106511
CSL  0.048722  1.000000  0.251355 -0.018576  0.220370  0.317659  0.423119
IEL -0.077654  0.251355  1.000000  0.268241  0.019208  0.508648  0.312200
NVX -0.116394 -0.018576  0.268241  1.000000  0.235992  0.217099  0.219132
TWE  0.028229  0.220370  0.019208  0.235992  1.000000  0.163464  0.169761
TYR -0.165138  0.317659  0.508648  0.217099  0.163464  1.000000  0.494307
SPY  0.106511  0.423119  0.312200  0.219132  0.169761  0.494307  1.000000

In [129]:
price_df = yf.Ticker('NVX.AX').history(
    interval='1d', start=f'2020-01-01', end='2021-01-01')

In [174]:
object = yf.Ticker('NVX.AX')

In [133]:
object.info

{'address1': '46 Edward Street',
 'address2': 'Level 8',
 'city': 'Brisbane',
 'state': 'QLD',
 'zip': '4000',
 'country': 'Australia',
 'phone': '61 4 3931 0818',
 'website': 'https://www.novonixgroup.com',
 'industry': 'Electrical Equipment & Parts',
 'industryKey': 'electrical-equipment-parts',
 'industryDisp': 'Electrical Equipment & Parts',
 'sector': 'Industrials',
 'sectorKey': 'industrials',
 'sectorDisp': 'Industrials',
 'longBusinessSummary': 'NOVONIX Limited provides battery materials and development technology for battery manufacturers, materials companies, automotive original equipment manufacturers (OEMs), and consumer electronics manufacturers in North America, Asia, Australia, and Europe. It operates through Battery Materials and Battery Technology segments. The Battery Materials segment develops and manufactures battery anode materials. The Battery Technology segment develops battery cell testing equipment, performs consulting services, and carries out research and development in battery development. The company is involved in the investment and real estate borrowing activities; and offers battery technology, battery testing hardware equipment, and battery testing and development consulting services. The company was formerly known as Graphitecorp Limited and changed its name to NOVONIX Limited in July 2017. NOVONIX Limited was incorporated in 2012 and is based in Brisbane, Australia.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Dr. John Christopher Burns',
   'age': 35,
   'title': 'Chief Executive Officer',
   'yearBorn': 1988,
   'fiscalYear': 2023,
   'totalPay': 1346836,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Nicholas  Liveris',
   'age': 38,
   'title': 'Chief Financial Officer',
   'yearBorn': 1985,
   'fiscalYear': 2023,
   'totalPay': 863275,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Rashda M. Buttar',
   'age': 53,
   'title': 'Chief Legal & Administrative Officer',
   'yearBorn': 1970,
   'fiscalYear': 2023,
   'totalPay': 767231,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ronald Cleve Edmonds B.B.A., CPA',
   'age': 65,
   'title': 'Interim Executive Officer of Finance & Non-Executive Director',
   'yearBorn': 1958,
   'fiscalYear': 2023,
   'totalPay': 88398,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Darcy  MacDougald',
   'title': 'Chief Operating Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Prof. Jeffrey  Dahn',
   'age': 66,
   'title': 'Chief Scientific Advisor',
   'yearBorn': 1957,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Lori  Mcleod',
   'title': 'President of Battery Technology Solutions',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Suzanne Margaret Yeates B.Bus, C.A.',
   'title': 'Financial Controller & Company Secretary',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 10,
 'boardRisk': 8,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 1,
 'overallRisk': 9,
 'governanceEpochDate': 1724803200,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 4,
 'previousClose': 0.615,
 'open': 0.61,
 'dayLow': 0.59,
 'dayHigh': 0.61,
 'regularMarketPreviousClose': 0.615,
 'regularMarketOpen': 0.61,
 'regularMarketDayLow': 0.59,
 'regularMarketDayHigh': 0.61,
 'beta': 1.59,
 'forwardPE': -2.4791667,
 'volume': 620182,
 'regularMarketVolume': 620182,
 'averageVolume': 1128246,
 'averageVolume10days': 895538,
 'averageDailyVolume10Day': 895538,
 'bid': 0.59,
 'ask': 0.595,
 'marketCap': 303031712,
 'fiftyTwoWeekLow': 0.525,
 'fiftyTwoWeekHigh': 1.18,
 'priceToSalesTrailing12Months': 44.076622,
 'fiftyDayAverage': 0.6677,
 'twoHundredDayAverage': 0.7458,
 'currency': 'AUD',
 'enterpriseValue': 325339360,
 'floatShares': 371105086,
 'sharesOutstanding': 492734016,
 'heldPercentInsiders': 0.22694,
 'heldPercentInstitutions': 0.08031999,
 'impliedSharesOutstanding': 509296992,
 'bookValue': 0.323,
 'priceToBook': 1.8421053,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1719705600,
 'netIncomeToCommon': -46860472,
 'trailingEps': -0.13,
 'forwardEps': -0.24,
 'enterpriseToRevenue': 47.321,
 'enterpriseToEbitda': -6.957,
 '52WeekChange': -0.34254146,
 'SandP52WeekChange': 0.2560848,
 'exchange': 'ASX',
 'quoteType': 'EQUITY',
 'symbol': 'NVX.AX',
 'underlyingSymbol': 'NVX.AX',
 'shortName': 'NOVONIX FPO [NVX]',
 'longName': 'NOVONIX Limited',
 'firstTradeDateEpochUtc': 1449010800,
 'timeZoneFullName': 'Australia/Sydney',
 'timeZoneShortName': 'AEST',
 'uuid': 'b7ffcd60-2c6e-3a14-82b8-1948139d572c',
 'messageBoardId': 'finmb_315063827',
 'gmtOffSetMilliseconds': 36000000,
 'currentPrice': 0.595,
 'targetHighPrice': 1.0,
 'targetLowPrice': 1.0,
 'targetMeanPrice': 1.0,
 'targetMedianPrice': 1.0,
 'recommendationMean': 1.0,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 1,
 'totalCash': 47132912,
 'totalCashPerShare': 0.096,
 'ebitda': -46763408,
 'totalDebt': 71734864,
 'quickRatio': 5.279,
 'currentRatio': 6.154,
 'totalRevenue': 6875112,
 'debtToEquity': 45.381,
 'revenuePerShare': 0.014,
 'returnOnAssets': -0.12222,
 'returnOnEquity': -0.26032,
 'freeCashflow': -39753624,
 'operatingCashflow': -37248612,
 'revenueGrowth': -0.301,
 'grossMargins': 0.84626997,
 'operatingMargins': -10.9181,
 'financialCurrency': 'USD',
 'trailingPegRatio': None}

In [134]:
object.history_metadata

{'currency': 'AUD',
 'symbol': 'NVX.AX',
 'exchangeName': 'ASX',
 'fullExchangeName': 'ASX',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 1449010800,
 'regularMarketTime': 1725257425,
 'hasPrePostMarketData': False,
 'gmtoffset': 36000,
 'timezone': 'AEST',
 'exchangeTimezoneName': 'Australia/Sydney',
 'regularMarketPrice': 0.595,
 'fiftyTwoWeekHigh': 0.61,
 'fiftyTwoWeekLow': 0.59,
 'regularMarketDayHigh': 0.61,
 'regularMarketDayLow': 0.59,
 'regularMarketVolume': 620182,
 'longName': 'NOVONIX Limited',
 'shortName': 'NOVONIX FPO [NVX]',
 'chartPreviousClose': 0.61,
 'previousClose': 0.615,
 'scale': 3,
 'priceHint': 4,
 'currentTradingPeriod': {'pre': {'timezone': 'AEST',
   'start': 1725224400,
   'end': 1725235200,
   'gmtoffset': 36000},
  'regular': {'timezone': 'AEST',
   'start': 1725235200,
   'end': 1725257520,
   'gmtoffset': 36000},
  'post': {'timezone': 'AEST',
   'start': 1725257520,
   'end': 1725257520,
   'gmtoffset': 36000}},
 'tradingPeriods':                                           pre_start                   pre_end  \
 Date
 2024-08-27 00:00:00+10:00 2024-08-27 07:00:00+10:00 2024-08-27 10:00:00+10:00
 2024-08-28 00:00:00+10:00 2024-08-28 07:00:00+10:00 2024-08-28 10:00:00+10:00
 2024-08-29 00:00:00+10:00 2024-08-29 07:00:00+10:00 2024-08-29 10:00:00+10:00
 2024-08-30 00:00:00+10:00 2024-08-30 07:00:00+10:00 2024-08-30 10:00:00+10:00
 2024-09-02 00:00:00+10:00 2024-09-02 07:00:00+10:00 2024-09-02 10:00:00+10:00

                                               start                       end  \
 Date
 2024-08-27 00:00:00+10:00 2024-08-27 10:00:00+10:00 2024-08-27 16:12:00+10:00
 2024-08-28 00:00:00+10:00 2024-08-28 10:00:00+10:00 2024-08-28 16:12:00+10:00
 2024-08-29 00:00:00+10:00 2024-08-29 10:00:00+10:00 2024-08-29 16:12:00+10:00
 2024-08-30 00:00:00+10:00 2024-08-30 10:00:00+10:00 2024-08-30 16:12:00+10:00
 2024-09-02 00:00:00+10:00 2024-09-02 10:00:00+10:00 2024-09-02 16:12:00+10:00

                                          post_start                  post_end
 Date
 2024-08-27 00:00:00+10:00 2024-08-27 16:12:00+10:00 2024-08-27 16:12:00+10:00
 2024-08-28 00:00:00+10:00 2024-08-28 16:12:00+10:00 2024-08-28 16:12:00+10:00
 2024-08-29 00:00:00+10:00 2024-08-29 16:12:00+10:00 2024-08-29 16:12:00+10:00
 2024-08-30 00:00:00+10:00 2024-08-30 16:12:00+10:00 2024-08-30 16:12:00+10:00
 2024-09-02 00:00:00+10:00 2024-09-02 16:12:00+10:00 2024-09-02 16:12:00+10:00  ,
 'dataGranularity': '1h',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [137]:
object.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [138]:
object.dividends

Series([], Name: Dividends, dtype: float64)

In [139]:
object.splits

Series([], Name: Stock Splits, dtype: float64)

In [136]:
object.capital_gains

Series([], dtype: float64)

In [141]:
object.get_shares_full(start='2022-01-01')

2022-02-02 00:00:00+11:00    485831008
2022-02-11 00:00:00+11:00    506896992
2022-02-12 00:00:00+11:00    485831008
2022-02-24 00:00:00+11:00    532040992
2022-02-25 00:00:00+11:00    485831008
                               ...
2024-08-28 00:00:00+10:00    492734016
2024-08-28 00:00:00+10:00    500945984
2024-08-29 00:00:00+10:00    492734016
2024-08-30 00:00:00+10:00    492734016
2024-09-02 00:00:00+10:00    509296992
Length: 230, dtype: int64

In [142]:
object.calendar

{'Earnings Date': [datetime.date(2024, 8, 23), datetime.date(2024, 8, 24)],
 'Earnings High': None,
 'Earnings Low': None,
 'Earnings Average': None,
 'Revenue High': 6160000,
 'Revenue Low': 6160000,
 'Revenue Average': 6160000}

In [144]:
# - income statement
object.income_stmt

,2023-12-31,2022-06-30,2021-06-30,2020-06-30
Tax Effect Of Unusual Items,12420.032031,0.0,0.0,0.0
Tax Rate For Calcs,0.004305,0.0,0.0,0.0
Normalized EBITDA,-41747703.0,-43259259.0,-9976377.0,-9637124.0
Total Unusual Items,2885177.0,-2917859.0,-2064926.0,-252207.0
Total Unusual Items Excluding Goodwill,2885177.0,-2917859.0,-2064926.0,-252207.0
Net Income From Continuing Operation Net Minority Interest,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Reconciled Depreciation,4739719.0,4214620.0,1264622.0,1183292.0
Reconciled Cost Of Revenue,2817685.0,1724622.0,810664.0,576538.0
EBITDA,-38862526.0,-46177118.0,-12041303.0,-9889331.0
EBIT,-43602661.0,-50391738.0,-13305925.0,-11072623.0
Net Interest Income,-1252974.0,-1504234.0,-144751.0,-3572786.0
Interest Expense,2845549.0,1468569.0,140668.0,2357551.0
Interest Income,1611128.0,8314.0,26120.0,484.0
Normalized Income,-49121017.967969,-48942448.0,-11381667.0,-13177967.0
Net Income From Continuing And Discontinued Operation,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Total Expenses,56282633.0,54144408.0,15143000.0,12314938.0
Rent Expense Supplemental,418206.0,1729282.0,17160.0,53588.0
Diluted Average Shares,487474460.0,464437628.0,366289024.0,135918095.0
Basic Average Shares,487474460.0,464437628.0,366289024.0,135918095.0
Diluted EPS,-0.09,-0.11,-0.04,-0.1
Basic EPS,-0.09,-0.11,-0.04,-0.1
Diluted NI Availto Com Stockholders,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Net Income Common Stockholders,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Net Income,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Net Income Including Noncontrolling Interests,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Net Income Continuous Operations,-46248261.0,-51860307.0,-13446593.0,-13430174.0
Tax Provision,-199949.0,0.0,0.0,0.0
Pretax Income,-46448210.0,-51860307.0,-13446593.0,-13430174.0
Other Income Expense,3032868.0,-2312820.0,-2052581.0,-252207.0
Other Non Operating Income Expenses,147691.0,605039.0,12345.0,580035.043117
Special Income Charges,0.0,0.0,-2002399.0,0.0
Impairment Of Capital Assets,0.0,0.0,2002399.0,0.0
Gain On Sale Of Security,2885177.0,-2917859.0,-62527.0,-252207.0
Net Non Operating Interest Income Expense,-1252974.0,-1504234.0,-144751.0,-3572786.0
Total Other Finance Cost,18553.0,43979.0,30203.0,1215719.0
Interest Expense Non Operating,2845549.0,1468569.0,140668.0,2357551.0
Interest Income Non Operating,1611128.0,8314.0,26120.0,484.0
Operating Income,-48228105.0,-48043253.0,-11249261.0,-9463903.0
Operating Expense,53465364.0,52419783.0,14332336.0,11480306.0
Other Operating Expenses,-1851081.0,3243295.0,-692782.0,-565826.0
Depreciation Amortization Depletion Income Statement,4740135.0,4214617.0,1264622.0,925198.0
Depreciation And Amortization In Income Statement,4740135.0,4214617.0,1264622.0,925198.0
Amortization,NaN,NaN,184992.035824,188009.069983
Amortization Of Intangibles Income Statement,NaN,NaN,184992.035824,188009.069983
Depreciation Income Statement,NaN,NaN,1090594.007333,760424.640121
Research And Development,5750574.0,5102824.0,2093098.0,1624485.0
Selling General And Administration,44825736.0,39859047.0,11667398.0,9496449.0
Selling And Marketing Expense,NaN,NaN,2111246.017912,1665266.774315
General And Administrative Expense,44825736.0,39859047.0,11667398.0,9496449.0
Other Gand A,11695383.0,7020298.0,2547715.0,1489432.0
Insurance And Claims,6750308.0,3842129.0,285990.0,157212.0
Rent And Landing Fees,418206.0,1729282.0,17160.0,53588.0
Salaries And Wages,25961839.0,27267338.0,8816533.0,7796217.0
Gross Profit,5237259.0,4376530.0,3083075.0,2016403.0
Cost Of Revenue,2817269.0,1724625.0,810664.0,834632.0
Total Revenue,8054528.0,6101155.0,3893739.0,2851035.0
Operating Revenue,8054528.0,6101155.0,3893739.0,2851035.0

In [145]:
object.quarterly_income_stmt

Empty DataFrame
Columns: []
Index: []

In [146]:
# - balance sheet
object.balance_sheet

,2023-12-31,2022-12-31,2022-06-30,2021-06-30,2020-06-30
Ordinary Shares Number,488733461.0,486774622.0,485951369.0,404601384.0,NaN
Share Issued,488733461.0,486774622.0,485951369.0,404601384.0,NaN
Total Debt,69387750.0,41341840.0,42309006.0,10356322.0,NaN
Tangible Book Value,171945966.0,213882559.0,238768701.0,126001019.0,NaN
Invested Capital,247331164.0,261248012.0,287200725.0,143068845.0,NaN
...,...,...,...,...,...
Accounts Receivable,3034897.0,2327364.0,2081315.0,1151116.0,NaN
Gross Accounts Receivable,NaN,NaN,NaN,1533963.0,952881.0
Cash Cash Equivalents And Short Term Investments,78713885.0,99039172.0,142737362.0,102601252.0,NaN
Cash And Cash Equivalents,78713885.0,99039172.0,142737362.0,102601252.0,NaN
Cash Financial,NaN,99039172.0,142737362.0,136663976.0,38807662.0

In [147]:
object.quarterly_balance_sheet

                                                   2023-12-31   2023-06-30
Ordinary Shares Number                            488733461.0  486947711.0
Share Issued                                      488733461.0  486947711.0
Total Debt                                         69387750.0   69215882.0
Tangible Book Value                               171945966.0  189874083.0
Invested Capital                                  247331164.0  265082883.0
...                                                       ...          ...
Receivables                                         3564333.0    2325063.0
Other Receivables                                    529436.0          NaN
Accounts Receivable                                 3034897.0    2325063.0
Cash Cash Equivalents And Short Term Investments   78713885.0   99075082.0
Cash And Cash Equivalents                          78713885.0   99075082.0

[67 rows x 2 columns]

In [148]:
# - cash flow statement
object.cashflow

,2023-12-31,2022-06-30,2021-06-30,2020-06-30
Free Cash Flow,-55424219.0,-113019442.0,-25664712.0,-7426208.0
Repurchase Of Capital Stock,NaN,NaN,-7908866.0,-1308596.0
Repayment Of Debt,-1426460.0,-881850.0,-206308.0,-4784765.0
Issuance Of Debt,30752831.0,33241890.0,3023995.0,4426384.0
Issuance Of Capital Stock,338327.0,150967705.0,106843050.0,31664061.0
...,...,...,...,...
Paymentsto Suppliersfor Goodsand Services,NaN,NaN,-10935814.750255,-6698474.59374
Classesof Cash Receiptsfrom Operating Activities,NaN,NaN,4940637.584901,3014011.062631
Other Cash Receiptsfrom Operating Activities,NaN,NaN,NaN,-1.0
Receiptsfrom Government Grants,NaN,NaN,639569.934483,NaN
Receiptsfrom Customers,NaN,NaN,4301067.650418,3014011.062631

In [149]:
object.quarterly_cashflow

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Free Cash Flow,-14739000.0,-8065219.0,-13017000.0,-14766453.0,-19581000.0
Repayment Of Debt,-333000.0,-640460.0,-268000.0,-310259.0,-426000.0
Issuance Of Debt,0.0,-1169.0,0.0,29834768.0,919000.0
Issuance Of Capital Stock,0.0,338327.0,0.0,0.0,0.0
Capital Expenditure,-1569000.0,-1928796.0,-4067000.0,-6253429.0,-6952000.0
End Cash Position,62244000.0,78713885.0,86752000.0,99075082.0,78707000.0
Beginning Cash Position,78713000.0,86752000.0,99075000.0,78707000.0,99039000.0
Effect Of Exchange Rate Changes,-912000.0,801362.0,-18000.0,-1781909.0,-672000.0
Changes In Cash,-15557000.0,-8839649.0,-12305000.0,22149819.0,-19660000.0
Financing Cash Flow,-482000.0,-447212.0,-259000.0,29568346.0,447000.0
Cash Flow From Continuing Financing Activities,-482000.0,-447212.0,-259000.0,29568346.0,447000.0
Net Other Financing Charges,-149000.0,140090.0,-223000.0,44300.0,-98000.0
Proceeds From Stock Option Exercised,0.0,NaN,232000.0,-463.0,52000.0
Cash Dividends Paid,0.0,NaN,0.0,0.0,0.0
Common Stock Dividend Paid,NaN,NaN,0.0,0.0,0.0
Net Common Stock Issuance,0.0,338327.0,0.0,0.0,0.0
Common Stock Issuance,0.0,338327.0,0.0,0.0,0.0
Net Issuance Payments Of Debt,-333000.0,-641629.0,-268000.0,29524509.0,493000.0
Net Long Term Debt Issuance,-333000.0,-641629.0,-268000.0,29524509.0,493000.0
Long Term Debt Payments,-333000.0,-640460.0,-268000.0,-310259.0,-426000.0
Long Term Debt Issuance,0.0,-1169.0,0.0,29834768.0,919000.0
Investing Cash Flow,-1905000.0,-2256014.0,-3096000.0,1094497.0,-7478000.0
Cash Flow From Continuing Investing Activities,-1905000.0,-2256014.0,-3096000.0,1094497.0,-7478000.0
Net Other Investing Changes,-336000.0,-327218.0,971000.0,7347926.0,-526000.0
Dividends Received Cfi,0.0,NaN,0.0,0.0,0.0
Net Investment Purchase And Sale,0.0,0.0,0.0,0.0,0.0
Sale Of Investment,0.0,NaN,0.0,0.0,0.0
Purchase Of Investment,0.0,0.0,0.0,0.0,0.0
Net Business Purchase And Sale,0.0,NaN,0.0,0.0,0.0
Sale Of Business,0.0,NaN,0.0,0.0,0.0
Purchase Of Business,0.0,NaN,0.0,0.0,0.0
Net Intangibles Purchase And Sale,0.0,0.0,0.0,0.0,0.0
Sale Of Intangibles,0.0,NaN,NaN,0.0,0.0
Purchase Of Intangibles,0.0,0.0,0.0,0.0,0.0
Net PPE Purchase And Sale,-1569000.0,-1928796.0,-4067000.0,-6253429.0,-6952000.0
Sale Of PPE,0.0,NaN,0.0,0.0,0.0
Purchase Of PPE,-1569000.0,-1928796.0,-4067000.0,-6253429.0,-6952000.0
Operating Cash Flow,NaN,NaN,NaN,-8513000.0,-12629000.0
Cash Flow From Continuing Operating Activities,NaN,NaN,NaN,NaN,-4000.0
Change In Working Capital,NaN,NaN,NaN,NaN,-4000.0
Change In Other Working Capital,NaN,NaN,NaN,NaN,-4000.0
Other Non Cash Items,NaN,NaN,NaN,NaN,-12625000.0
Cash Flowsfromusedin Operating Activities Direct,-13170000.0,NaN,-8950000.0,-8513024.0,-12629000.0
Taxes Refund Paid Direct,0.0,NaN,0.0,0.0,0.0
Interest Received Direct,552000.0,NaN,1028000.0,-223000.0,0.0
Interest Paid Direct,-523000.0,NaN,-518000.0,-468000.0,-476000.0
Dividends Received Direct,0.0,NaN,0.0,244514.0,0.0
Classesof Cash Payments,-15798000.0,NaN,-11224000.0,-11172080.0,-15326000.0
Other Cash Paymentsfrom Operating Activities,-9218000.0,NaN,-7273000.0,8055426.0,-8999000.0
Paymentson Behalfof Employees,-6580000.0,NaN,-3951000.0,-2853000.0,-6327000.0
Classesof Cash Receiptsfrom Operating Activities,2599000.0,NaN,1764000.0,1938542.0,3173000.0
Other Cash Receiptsfrom Operating Activities,459000.0,NaN,377000.0,329000.0,68000.0
Receiptsfrom Government Grants,NaN,NaN,0.0,-5494000.0,NaN
Receiptsfrom Customers,2140000.0,NaN,1387000.0,1609808.0,3105000.0

In [167]:
object.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m          0    0     0     0           0
1    -1m          0    0     0     0           0
2    -2m          0    0     0     0           0
3    -3m          0    0     0     0           0

In [166]:
object.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m          0    0     0     0           0
1    -1m          0    0     0     0           0
2    -2m          0    0     0     0           0
3    -3m          0    0     0     0           0

In [156]:
# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default.
# Note: If more are needed use object.get_earnings_dates(limit=XX) with increased limit argument.
object.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2025-08-20 20:00:00+10:00           NaN           NaN          NaN
2024-08-23 08:00:00+10:00         -0.11           NaN          NaN
2024-08-22 20:00:00+10:00         -0.11           NaN          NaN
2024-08-22 09:00:00+10:00           NaN           NaN          NaN
2024-07-15 08:00:00+10:00           NaN           NaN          NaN
2024-02-28 23:00:00+11:00           NaN           NaN          NaN
2022-08-31 12:00:00+10:00           NaN           NaN          NaN
2022-02-25 10:00:00+11:00           NaN           NaN          NaN
2021-08-26 15:00:00+10:00           NaN           NaN          NaN
2021-02-25 08:00:00+11:00           NaN           NaN          NaN
2020-09-21 13:00:00+10:00           NaN           NaN          NaN
2020-03-13 09:00:00+11:00           NaN           NaN          NaN

In [155]:
# show options expirations
object.options

()

In [154]:
# show news
object.news

[{'uuid': '82ef4265-3786-38f2-8c03-36e0cfd6110b',
  'title': 'Should You Buy SentinelOne Stock Instead of CrowdStrike?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/82ef4265-3786-38f2-8c03-36e0cfd6110b/should-you-buy-sentinelone.html',
  'providerPublishTime': 1725278100,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/kdEcXpXeAFyynwuI3rlDQw--~B/aD03NjY7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/7b072023d4cc6ca84feb6ba4bfa790b2',
     'width': 1400,
     'height': 766,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/U3P__nXo8ap_5c7m6DFgvg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/7b072023d4cc6ca84feb6ba4bfa790b2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['S', 'CRWD']},
 {'uuid': 'c58714a2-92e8-36ff-a484-46d8cf7382c3',
  'title': 'Hon Hai Technology Group (Foxconn) Wins Prestigious Red Dot Design Award For Proprietary ESG Platform',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/hon-hai-technology-group-foxconn-115100286.html',
  'providerPublishTime': 1725277860,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/8NZsEUu2boaw47pZnOAJPw--~B/aD0xNjt3PTE2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/5e9fd393ffdfe53df089d958bd627fb2',
     'width': 16,
     'height': 16,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/aIeqK_aYYp93fkgDv4nwZQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/5e9fd393ffdfe53df089d958bd627fb2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['HNHAF', 'HNHPF']},
 {'uuid': '09074bdf-906e-39d6-ada2-087bae14bd6d',
  'title': 'Polyacrylamide Global Strategic Business Report 2024-2030, Featuring Profiles of 22 Key Players Including Accepta, Aqua Ben, BAS, SNF Group, Solenis and Zhejiang Xinyong Biochemical Co.',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/polyacrylamide-global-strategic-business-report-114900309.html',
  'providerPublishTime': 1725277740,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/W3wnK6O69FYK_HpWeYJchw--~B/aD00MDA7dz02MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/globenewswire.com/e2b5beac3ba6d2d65cc2352a4fc80460',
     'width': 600,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/cKEknkkfZyynldIVajTSCg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/globenewswire.com/e2b5beac3ba6d2d65cc2352a4fc80460',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '19599aab-266c-3c1d-aef9-538c3d502881',
  'title': 'Global AI Summit (GAIN) announces headline speakers',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/global-ai-summit-gain-announces-114700266.html',
  'providerPublishTime': 1725277620,
  'type': 'STORY'},
 {'uuid': '538b0400-8bd7-33c4-a890-5420745f799f',
  'title': 'Vietnam Solidifies Stature as a Global Hub for Sports Shoes Exports, Predicted to Continue Ascending Trend Through 2033',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/vietnam-solidifies-stature-global-hub-114600500.html',
  'providerPublishTime': 1725277560,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/u.pEZzXHS0_YhApCblCifA--~B/aD00MDA7dz02MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/globenewswire.com/b6755ecd54339e7026af0b4fc6630918',
     'width': 600,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/qR_oPyXjy.Ebn7vcjEVFNQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/globenewswire.com/b6755ecd54339e7026af0b4fc6630918',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': 'e2986d1e-89d2-3d73-bc53-64ba2ddbec55',
  'title': 'Transactions in connection with share buyback programme',
  'publisher': 'GlobeNewswire',
  'link': 'https://finance.yahoo.com/news/transactions-connection-share-buyback-programme-114600128.html',
  'providerPublishTime': 1725277560,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/sS_o7GRGETHpyRug5txa4A--~B/aD0yNDc7dz0xMTgyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/globenewswire.com/609b81747aec0c212d80d15b4e41af7f',
     'width': 1182,
     'height': 247,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/58hZpe3FwNBonSqnK3zYEw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/globenewswire.com/609b81747aec0c212d80d15b4e41af7f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['PANDY', 'PNDZF']},
 {'uuid': '762e37d5-f0dd-367e-896c-a4eca069eec3',
  'title': "Oasis fans' fury sparks UK govt review of dynamic pricing",
  'publisher': 'AFP',
  'link': 'https://finance.yahoo.com/m/762e37d5-f0dd-367e-896c-a4eca069eec3/oasis-fans%27-fury-sparks-uk.html',
  'providerPublishTime': 1725277541,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/EmDaZEQZZn3G_xyJG_eIgg--~B/aD01NzY7dz03Njg7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/afp.com/a1195cfbc4ff67047d15cae81b5b520c',
     'width': 768,
     'height': 576,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/53MqS8uERN2uVoYHlWVxJQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/afp.com/a1195cfbc4ff67047d15cae81b5b520c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]}},
 {'uuid': '25f7695d-b6f5-347b-881a-15ec0bca69e9',
  'title': '4 Reasons Not to Buy Your Groceries at Costco',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/25f7695d-b6f5-347b-881a-15ec0bca69e9/4-reasons-not-to-buy-your.html',
  'providerPublishTime': 1725277511,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/WG02yuZCbmlMTIGZx_m13w--~B/aD01Mjk7dz03OTM7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/motleyfool.com/f46d95d4c450b06dcaca4322bda524ca',
     'width': 793,
     'height': 529,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/_MYTIyFYhwXwXVmrdSmsDQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/f46d95d4c450b06dcaca4322bda524ca',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['COST']}]