In [37]:
import requests

# todo: does this work tmr
# The URL you provided
url = "https://asx.api.markitdigital.com/asx-research/1.0/companies/directory/file?access_token=83ff96335c2d45a094df02a206a39ff4"

# Download the file
response = requests.get(url)

# Save the file if the request is successful
if response.status_code == 200:
    with open("asx_companies_directory.csv", "wb") as file:
        file.write(response.content)
    print("File downloaded successfully!")
else:
    print(f"Failed to download file. Status code: {response.status_code}")

File downloaded successfully!

In [18]:
asx_companies = pd.read_csv("asx_companies_directory.csv")

In [19]:
asx_companies

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,14290111
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,11517905
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,7520677
3,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",01/09/2004,11811763
4,1CG,ONE CLICK GROUP LIMITED,Capital Goods,28/04/2017,6585745
...,...,...,...,...,...
1946,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,7943009
1947,ZMI,ZINC OF IRELAND NL,Materials,18/09/2007,2125243
1948,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,1519977
1949,ZNC,ZENITH MINERALS LIMITED,Materials,29/05/2007,12333331
1950,ZNO,ZOONO GROUP LIMITED,Materials,21/07/1988,9241279

In [30]:
asx300 = asx_companies[~asx_companies['Market Cap'].isin(
    ['SUSPENDED', '---', '--'])].sort_values(['Market Cap'], ascending=False).head(300)

In [20]:
ASX_codes = asx_companies["ASX code"].values

In [23]:
import yfinance as yf
import pandas as pd

# Create a dataframe to store stock information
stock_data = []

for ticker in ASX_codes:
    ticker += ".AX"
    stock = yf.Ticker(ticker)
    info = stock.info
    stock_data.append({
        'Ticker': ticker,
        'Name': info.get('shortName', 'N/A'),
        'Market Cap': info.get('marketCap', 'N/A'),
        'Sector': info.get('sector', 'N/A'),
        'Industry': info.get('industry', 'N/A'),
    })

# Convert the data into a DataFrame
df = pd.DataFrame(stock_data)

# Display the DataFrame
display(df)

,Ticker,Name,Market Cap,Sector,Industry
0,14D.AX,1414DEGREE FPO [14D],14051971,Utilities,Utilities - Independent Power Producers
1,1AD.AX,ADALTA FPO [1AD],11517914,Healthcare,Biotechnology
2,1AE.AX,AURORAENER FPO [1AE],7162560,Energy,Uranium
3,1AI.AX,ALGORAE FPO [1AI],11811730,Healthcare,Biotechnology
4,1CG.AX,1CLICKLIFE FPO [1CG],6973137,Technology,Software - Application
...,...,...,...,...,...
1946,ZLD.AX,ZELIRATHER FPO [ZLD],7602624,Healthcare,Biotechnology
1947,ZMI.AX,ZINCOFIRE FPO [ZMI],2125240,Basic Materials,Other Industrial Metals & Mining
1948,ZMM.AX,ZIMILMITED FPO [ZMM],1519980,Industrials,Electrical Equipment & Parts
1949,ZNC.AX,ZENITH MIN FPO [ZNC],12685715,Basic Materials,Other Industrial Metals & Mining
1950,ZNO.AX,ZOONOGROUP FPO [ZNO],9596718,Consumer Defensive,Household & Personal Products